<div class="panel panel-primary">
    <div class="panel-heading">Access</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="input-group">
                        <span class="input-group-addon">Code</span>
                        <input type="text" class="form-control" ng-model="code" placeholder="ABC123">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary" ng-click="check()">Check</button>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6"><strong>Code : </strong></div><div class="col-sm-6">{{code}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><strong>Amount : </strong></div><div class="col-sm-6">{{access.amount}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><strong>Time : </strong></div><div class="col-sm-6">{{access.time}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><strong>DtCreated : </strong></div><div class="col-sm-6">{{access.dtCreated | filter : datetimeFilter}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><strong>DtExpired : </strong></div><div class="col-sm-6">{{access.dtExpired | filter : datetimeFilter}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><strong>Type : </strong></div><div class="col-sm-6">{{access.accessType.name}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><strong>Status : </strong></div><div class="col-sm-6">{{access.status.name}}</div>
                </div>
                <br />
                <div ng-class="result" role="alert">{{message}}
                    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                </div>
                <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.message}}</div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
