<div class="panel panel-primary">
    <div class="panel-heading">Remote</div>
    <div class="panel-body">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="cointainer-fluid">
                <div class="row">
                    <div class="col-sm-6"><strong>Ip address</strong></div><div class="col-sm-6">{{remote.ip}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><strong>Mac address</strong></div><div class="col-sm-6">{{remote.mac}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><strong>Name</strong></div><div class="col-sm-6">{{remote.browser.name}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><strong>Agent</strong></div><div class="col-sm-6">{{remote.browser.agent}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><strong>Platform</strong></div><div class="col-sm-6">{{remote.browser.platform}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><strong>Status</strong></div><div class="col-sm-6">{{remote.status.name}}</div>
                </div>  
        </div>
    </div>
    <div class="col-sm-2"></div>   
</div> 