<div class="panel panel-primary">
    <div class="panel-heading">Server</div>
    <div class="panel-body">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="cointainer-fluid">
                <div class="row">
                    <div class="col-sm-6"><strong>Ip address</strong></div><div class="col-sm-6">{{server.ip}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><strong>Mac address</strong></div><div class="col-sm-6">{{server.mac}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><strong>Cpu Usage</strong></div><div class="col-sm-6">{{server.cpuUsage}}%</div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><strong>Mem Usage</strong></div><div class="col-sm-6">{{server.memUsage}}%</div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><strong>Date time</strong></div><div class="col-sm-6">{{server.dateTime.full}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><strong>Up time</strong></div><div class="col-sm-6">{{server.upTime.full}}</div>
                </div>
            </div>  
        </div>
        <div class="col-sm-2"></div>
    </div> 
</div> 
