<div id="" class="container">
   
    <div header-directive></div>

    <!-- <div style="padding-top: 60px; padding-bottom: 60px;"> -->
        <uib-tabset active="activeForm">
            <uib-tab index="0" heading="Server">
                <br />
                <div server-directive></div>
            </uib-tab>
            <uib-tab index="1" heading="Remote">
                <br />
                <div remote-directive></div>
            </uib-tab>
            <uib-tab index="2" heading="Client">
                <br />
                <div client-directive></div>
            </uib-tab>
            <uib-tab index="3" heading="Access">
                <br />
                <div access-directive></div>
            </uib-tab>
            <uib-tab index="4" heading="Transaction">
                <br />
                <div transaction-directive></div>
            </uib-tab>
            <uib-tab index="5" heading="Session">
                <br />
                <div session-directive></div>
            </uib-tab>
        </uib-tabset>
    <!-- </div> -->
    
    <div footer-directive></div>
</div>


<style type="text/css">

</style>